<aside class="menu-sidebar">
    <div class="menu-sidebar-content">
        <nav class="sidebar">
            <ul class="navbar-list">
                <li>
                    <a href="{{ path('backend') }}">
                    <i class="fas fa-house-user"></i>Startseite</a>
                </li>
                <li>
                    <a href="{{ path('data') }}">
                    <i class="fas fa-database"></i> Daten</a>
                </li>
                <li>
                    <a href="{{ path('graph') }}">
                    <i class="fas fa-chart-line"></i>Temperaturen</a>
                </li>
                <li>
                    <a href="{{ path('user-list') }}">
                    <i class="fas fa-user-circle"></i>Benutzerverwaltung</a>
                </li>
                <li>
                    <a href="{{ path('app_logout') }}">
                    <i class="fas fa-sign-out-alt"></i>Ausloggen</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>