{% extends "layouts/base.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
 <div class="page-wrapper">
    {% include 'partials/backend-side-menu.html.twig' %}
        <div class="page-container">
    	{% include 'partials/backend-header.html.twig' %}
            <div class="main-content">
                <div class="header-content">
                    <div class="container">
                            <div class="content-box">
                                <h3 class="title flex">
                                    <i class="fas fa-user-plus"></i>Editieren
                                    </a>
                                </h3>
                                {{ form_start(editForm) }}
                                {{ form_row(editForm.username, {
                                    label: 'Benutzername'
                                }) }}
                                {{ form_row(editForm.plainPassword, {
                                    label: 'Passwort'
                                }) }}
                                {{ form_row(editForm.repeatedPassword, {
                                    label: 'Passwort wiederholen'
                                }) }}
                                {{ form_row(editForm.isActive, {
                                    label: 'Aktiviert'
                                }) }}
                                <button type="submit" class="btn">Speichern</button>
                            {{ form_end(editForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}